<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="/style/welcome.css" type="text/css">
</head>

<body>
  <main>
      <div class="wrapper">
          <% if (user) { %>
              <h1>
                  Welcome<%= user.fullname %>
              </h1>
              <% } %>
              <div class="Sign-in"></div>
              <button class="button"><a href="/">Click here to sign in</a></button>
              </div>
      </div>
  </main>
</body>

</html>